# Command for removing added files:
#       git rm -r --cached .

# Command for pulling from the remote,
# but ignoring (and overwriting) local
# changes:
#      git fetch origin master
#      git reset —hard FETCH_head
#      git clean -df

EEGInterface/OpenBCI/sample.csv
*.pyc
*.idea
*.p
*.pickle
*.xml
*.iml
*.jar
*pptm
*pptx
*ppt

##################
# Specific files
##################
*PycharmSettings
trash

EEGInterface/OpenBCI/ExampleScript2.py
ArduinoInterface/backup
